.header {
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 20;
}

.header__wrapper {
    height: 58px;
    display: flex;
    align-items: center;
    column-gap: 205px;
}

.header__logo-link {
    display: flex;
    align-items: end;
    column-gap: 18px;
    white-space: nowrap;
    font-size: 18px;
}

.header__logo-img {
    width: 29px;
}

.header__nav {
    display: flex;
    align-items: center;
    column-gap: 29px;
}

.header__nav-item {
    position: relative;
    font-family: Arial;
    text-transform: uppercase;
    font-style: italic;
}

.header__nav-item::before {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.2s;
    background-color: var(--color-white);
}

.header__nav-item:hover::before {
    width: 100%;
}

@media screen and (max-width: 1280px) {
    .header__wrapper {
        column-gap: 80px;
    }
}

@media screen and (max-width: 640px) {
    .header__wrapper {
        flex-direction: column;
        row-gap: 28px;
        column-gap: 0;
    }

    .header__nav {
        column-gap: 12px;
    }

    .header__nav-item {
        font-size: 14px;
    }
}